**/BuildOutput
**/.project
**/.cproject
**/InteropAssembliesTable.lib
**/CLR_RT_InteropAssembliesTable.obj
**/ext.lib
**/bin/Debug
**/obj/Debug
**/bin/Release
**/obj/Release
**/bin/Logic
**/obj/Logic
*.suo
*.obj
*.o
*.cache